{% extends 'base.html.twig' %}

{% block title %}Task Controller{% endblock %}

{% block body %}
<style>
</style>

<h2>Add your task</h2>
{{ form(task_form) }}

{% for task in tasks %}
<p><a href="{{ path('app_task_show', {id: task.id}) }}">{{ task.title }}</a></p>
{% endfor %}
{% endblock %}
